.nav-distance {
	padding: 2.1%, 7.7%;
}

.navbar-light .navbar-brand {
	width: 230px;
	height: 10px;
	margin: 0 0 50px 10px;
	font-family: NanumSquareR;
	font-size: 36px;
	line-height: 1.48;
	text-align: left;
	color: #4682b4;
	text-align: center;
}

.navbar-light .navbar-toggler {
	border-color: #ffffff;
}

